name: Containerized Testing

on:
  push:  # Triggers the workflow on every push event.
  pull_request:  # Also triggers the workflow on every pull request.

jobs:
  tests:
    name: Containerized Testing
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright/java:v1.56.1-noble

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Optional: only needed if you require a different JDK version
      # - name: Setup Java
      #   uses: actions/setup-java@v5
      #   with:
      #     distribution: 'temurin'
      #     java-version: '17'

      - name: Build (skip tests)
        run: mvn -B install -DskipTests --no-transfer-progress

      - name: Run tests
        run: mvn test
